<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <header>
        <p>Instagram</p>
    </header>
    <div class="container">
        <section class="user">
            <div class="left">
                <div class="circle"></div>
                <h1>User</h1>
            </div>
            <div class="right">
                <p>. . .</p>
            </div>
        </section>
        <section class="image"></section>
        <section class="caption">
            
            <div class="like">💜</div>
            <div class="comment">📔</div>
        </section>
        <div class="caption">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa ex totam quidem maiores facere eveniet laborum minima modi accusantium provident!</p>
        </div>
        <footer>
            <div class="footer-buttons">
                <i class='bx bxs-home'></i>
                <!-- <i class='bx bx-search'></i> -->
                <i class='bx bx-add-to-queue'></i>
                <!-- <i class='bx bxs-user'></i> -->
            </div>
        </footer>
    </div>
    
    
</body>
</html>
