{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <h1>Welcome to Instaa</h1>
        <p>In this app you will find a lot of fun from scrolling your friend post.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi, commodi rerum eum a in nihil repudiandae tenetur veritatis! Adipisci consectetur perferendis quaerat dignissimos dolor fuga cumque quasi at error fugit!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id ex quaerat quisquam maiores optio nemo!</p>
    </div>
{% endblock content %}