{% extends 'layout.html' %}

{% block content %}
    <div class="login">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="">
                <legend class="">Login</legend>

                <div class="form-login">
                    {{ form.username.label(class="") }}

                    {% if form.username.errors %}
                        {{ form.username(class="") }}
                        <div class="">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class=" ") }}
                    {% endif %}
                </div>

                <div class="form-login">
                    {{ form.password.label(class="") }}

                    {% if form.password.errors %}
                        {{ form.password(class="") }}
                        <div class="">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class=" ") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="submit-login">
                {{ form.submit(class="btn-outline-info") }}
                <small class="h">
                    <a href="{{ url_for('forgotPass') }}">Lupa kata sandi ?</a>
                </small>
        `   </div>
            <small class="h">
                <a href="{{ url_for('signup') }}">Belum punya akun ?</a>
            </small>
        </form>
    </div>
{% endblock content %}